@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url("Inter-V.woff");
}

@font-face {
    font-family: 'Helvetica Neue';
    font-weight: 400;
    src: local('Helvetica Neue');
}

@font-face {
    font-family: 'Arial';
    font-weight: 400;
    src: local('Arial');
}

@font-face {
    font-family: 'sans-serif';
    font-weight: 400;
    src: local('sans-serif');
}

@font-face {
    font-family: 'Inter';
    font-weight: 900;
    src: url("Inter-Bold.woff");
}

@font-face {
    font-family: 'Helvetica Neue';
    font-weight: 900;
    src: local('Helvetica Neue');
}

@font-face {
    font-family: 'Arial';
    font-weight: 900;
    src: local('Arial');
}

@font-face {
    font-family: 'sans-serif';
    font-weight: 900;
    src: local('sans-serif');
}