.cover__title {
    margin: 0;
    width: 248px;
    text-align: center;
    font-family: Inter, sans-serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
}

@media screen and (min-width: 768px){
    .cover__title {
        width: 544px;
        font-size: 72px;
        line-height: 76px;
    }
}